<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center feedback"><img src="http://hindsight-itp.s3.amazonaws.com/<%= @capsule.path %>" /><br>
<br><p><%= @capsule.caption%></p>
<h7>Taken on:</h7> <%= @capsule.formatted_created_at %>
<br>
</div>
</div>

<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center feedback">
<span class='st_twitter' ></span>
<span class='st_pinterest' ></span>
<span class='st_tumblr' ></span>
<span class='st_facebook'></span>
<span class='st_fblike' ></span>
</div></div>

</div>