<html>
<head>
<title>Throwback</title>
<link rel="shortcut icon" href="http://throwback-app.com/images/icon.ico" />
<link rel="image_src" href="http://throwback-app.com/images/logo.png" /> 
<meta name="description" content="ThrowBack: Send your past to your future self" />
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "54a8eee9-6e19-4994-84f9-4ff2275eecfa", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

</head>
<body>
<div id="logocontainer">
<a href="http://throwback-app.com"><img src="http://throwback-app.com/images/logo.png"/></a>
</div>
<container><img src="<%= @capsule.image_url %>" width="300" /><br><br>
<span class='st_email'></span>
<span class='st_twitter' ></span>
<span class='st_pinterest' ></span>
<span class='st_tumblr' ></span>
<span class='st_facebook'></span>
<span class='st_fblike' ></span><br><h1><%= @capsule.caption%></h1>
<h2>This photo was taken on: <%= @capsule.formatted_created_at %></h2> </container>