<html>
<head>
<title>Throwback</title>
<link rel="shortcut icon" href="http://throwback-app.com/images/icon.ico" />
<link rel="image_src" href="<%= @capsule.image_url %>" /> 
<meta name="description" content="ThrowBack: Send your past to your future self" />
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "54a8eee9-6e19-4994-84f9-4ff2275eecfa", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<style type="text/css">
p{
				font-weight: bold;
				font-family: Helvetica;
				font-size: 22px;
				margin-top:10px;
			 	line-height:1.8em;
			 	margin-bottom:10px;
			}
			h7{
				font-weight: bold;
				font-family: Helvetica;
				font-size: 14px;
				margin-top:10px;
			 	line-height:1.8em;
			 	margin-bottom:10px;
			}
</style>
</head>
<body>
<div id="logocontainer">
<a href="http://throwback-app.com"><img src="http://throwback-app.com/images/logo.png"/></a>
</div>
<container><img src="<%= @capsule.image_url %>" width="300" /><br><br>
<span class='st_email'></span>
<span class='st_twitter' ></span>
<span class='st_pinterest' ></span>
<span class='st_tumblr' ></span>
<span class='st_facebook'></span>
<span class='st_fblike' ></span><br><p><%= @capsule.caption%></p>
<h7>This photo was taken on:</h7> <%= @capsule.formatted_created_at %> </container>