<body style="-webkit-text-size-adjust: none; margin:10px auto; background-color:#F5F4EF; border-right: solid #ececec 1px; border-left: solid #ececec 1px; border-top: solid #ececec 1px; border-bottom: solid #ececec 1px;">
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="-webkit-text-size-adjust: none; ">
    <tr>
        <td  style="background-color:#f5f4ef;  padding-left:80px; padding-right:80px; ">
            <table width="440" border="0" cellspacing="0" cellpadding="0">
                <tr> 
                    <td align="center" style="padding-top: 15px; padding-bottom:15px;">
                        <font face="Arial, Verdana" color="#898989" style="font-size:11px; text-align: center; " size="1"><strong></strong><br> <!--<a href="#" target="_blank" style="color:#898989;">View on Webpage</a>--></font></td>
                </tr>
            </table>
            <table width="440" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td><table width="440" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            [perl]$header_block[/perl]
                        </tr>
                        </table></td>
                </tr>
                <tr>
                    <td>
                        <img src="" alt="Happy Holidays from Origins"  style="display: block;" width="440" height="331" />
                    </td>
                </tr>
            </table>
            <table width="440" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="14" bgcolor="#[perl]$color_l[/perl]">&nbsp;</td>
                    <td align="left" bgcolor="#ffffff"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td align="left" bgcolor="#ffffff" style="line-height:21px; padding-bottom:20px; padding-top: 20px; padding-left:20px; padding-right:20px;"><font face="Arial, Verdana" color="#636363" style="font-size:18px;" size="1">/td>
                        </tr>
                    </table></td>
                    <td width="14" bgcolor="#[perl]$color_r[/perl]">&nbsp;</td>
                </tr>
            </table>
            <table width="440" border="0" cellspacing="0" cellpadding="0"> 
                <tr>
                    <td><img src="http://www.origins.com/images/holiday2013/ecard/email/[perl]$ecard_image[/perl]_bottom_pic.gif" alt="" style="display: block; " width="441" height="73" /></td>
                </tr>
                <tr>
                    <td><img src="http://www.origins.com/images/holiday2013/ecard/email/height-spacer.gif" alt="spacer" height="25"/></td>
                </tr>
                <tr>
                    <td> </td>
            </table>
            <table width="440" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" style="line-height:18px; padding-bottom:15px; padding-left:30px; padding-right:30px; padding-bottom: 120px;">
                        <table width="180" border="0" cellspacing="0" cellpadding="0" align="center">
                            <tr>

                            </tr>
                        </table>

                    </td>
                </tr>
            </table></td>
        </tr>
    </table>
</body>
