<html>
	<head>

		<title>ThrowBack</title>	
		<style type="text/css">
		 @font-face {
                    font-family: "Thirsty Script Light", Helvetica, Arial, sans-serif;
                    font-weight: normal;
                    font-style: normal;
                    src: url("images/ThirstyScript/ThirstyScriptLight.otf") format("opentype");
                }

			body{
				margin:0;
				padding:0;
				color: #003366;
				font-family: "Thirsty Script Light", Helvetica, Arial;
				background: #FFF;

			}
			#wrapper{
				width:865px;
				height:620px;
				
				margin:auto;
				padding-left:10px;
				padding-right:10px;
				margin-top:60px;
				position: relative;
				
			 	font-size: 1.1em;
				
			}
			#left{
				float: left;
				width:294px;
				height:620px;
				
			}
			#right{
				width:512px;
				height:599px;
				float: right;	
				background:url('images/screenshots.png') no-repeat right top;
			}
			p{
				font-family: Helvetica;
				margin-top:30;
			 	line-height:1.8em;
			 	margin-bottom:10px;
			}
			a{
			font-family: Helvetica;
				margin-top:30;
			 	line-height:1.8em;
			 	margin-bottom:10px;
				text-decoration: none;
			}
			#bottom-left{
				font-size: .7em;
				position: absolute;
				bottom:50px;
				left:15px;
				
			}
			#bottom-right{
				clear:both;
				font-size: .7em;
				position: absolute;
				bottom:50px;
				right:10px;
			}
			#copy{
				padding-left:2px;
			}
			
			#title{
			font-family:  "Thirsty Script Light", Helvetica, Arial;
			margin-right: 10px;
			margin-top: 20px;
			font-size: 18px;
			text-align: center;			
			}
			#contact_me{
			text-align: center;
				float:left; 
				height:24px; 
				width:130px;  
				font-size:.9em;
			}
			img{
				border:none;
			}
			
		</style>
			<script type="text/javascript">

		
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35188718-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


</script>	
<link rel="shortcut icon" href="http://throwback-app.com/images/icon.ico" />
<link rel="image_src" href="http://throwback-app.com/images/logo.png" /> 
<meta name="description" content="ThrowBack: Send your past to your future self" />
	</head>
	<body> 
		<div id="wrapper">
			<div id="left">
				<img src="images/logo.png" alt=""/>
			
			<div id='copy'>
			<div id='title'>
			<b>Send your past to your future present</b></div>
			<p>Throwback is an iPhone photography application that captures a photograph but does not save it to your phone. Instead the photo is thrown into the future and emailed back to you and those you share it with at a random time, anywhere from 1 month to 5 years from the date the photo was taken. </p>
			<p>In an era where our photographs are overexposed on countless sharing platforms, Throwback provides a unique opportunity to forget your memories so they can be remembered again.</p>
			<p><b>Coming soon to an app store near you.</b></p>
			</div>
				<div style="margin-top:13px;">
					<a id="contact_me" href="mailto:callihiggins@gmail.com">Contact </a>
				</div>
		</div>
				<div id="right"></div>
		</div>
	</body>
</html>
