<html>
	<head>
	

<meta name="title" content="ThrowBack App" />
<meta property="og:image" content="http://throwback-app.com/images/fb_logo.png" />
<meta property="og:title" content="ThrowBack" />
<meta property="og:url" content="http://throwback-app.com" />
<meta property="og:description" content="Send your past to your future present" />
<meta name="description" content="Send your past to your future present" />
<link rel="shortcut icon" href="http://throwback-app.com/favicon.ico" />
<link rel="image_src" href="http://throwback-app.com/images/logo_fb.png" /> 
<link rel="stylesheet" type="text/css" href="http://throwback-app.com/iphone.css" media="only screen and (max-width: 480px)" />
<link rel="stylesheet" type="text/css" href="http://throwback-app.com/desktop.css" media="screen and (min-width: 481px)" />
<meta name="viewport" content="width=device-width initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

		<title>ThrowBack</title>	
		<style type="text/css">
		 @font-face {
                    font-family: "Thirsty Script Light", Helvetica, Arial, sans-serif;
                    font-weight: normal;
                    font-style: normal;
                    src: url("images/ThirstyScript/ThirstyScriptLight.otf") format("opentype");
                }

			body{
				margin:0;
				padding:0;
				color: #003366;
				font-family: "Thirsty Script Light", Helvetica, Arial;
				background: #FFF;

			}
			#wrapper{
				width:865px;
				height:620px;
				
				margin:auto;
				padding-left:10px;
				padding-right:10px;
				margin-top:60px;
				position: relative;
				
			 	font-size: 1.1em;
				
			}
			#left{
				float: left;
				width:294px;
				height:620px;
				
			}
			#right{
				width:512px;
				height:599px;
				float: right;	
				background:url('images/screenshots.png') no-repeat right top;
			}
			p{
				font-family: Helvetica;
				margin-top:30;
			 	line-height:1.8em;
			 	margin-bottom:10px;
			}
			a{
				font-family: Helvetica;
				color: #183159;
				text-decoration: none;
			}
			#bottom-left{
				font-size: .7em;
				position: absolute;
				bottom:50px;
				left:15px;
				
			}
			#bottom-right{
				clear:both;
				font-size: .7em;
				position: absolute;
				bottom:50px;
				right:10px;
			}
			#copy{
				padding-left:2px;
			}
			
			#title{
			font-family:  "Thirsty Script Light", Helvetica, Arial;
			margin-right: 10px;
			margin-top: 20px;
			font-size: 18px;
			text-align: center;			
			}
			#contact_me{
			
				margin-left: 10px;
				
							}
			img{
				border:none;
			}
			#social_container{
			
			text-align: left;
			margin-left: 20px;			
			}
			
			#press{
			position: absolute;
			bottom: -166px;
			margin: 0 auto;
			width: 100%;
			font-family: Arial;
			font-size: 18px;
			}

			#press ul{
			list-style: none;
			}
			
			#press ul li{
			display: inline;
			padding-right: 10px;
			}


#press ul li a{
			text-decoration: none;			
			}
					
		</style>
			<script type="text/javascript">

		
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35188718-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


</script>	
	</head>
	<body> 
		<div id="wrapper">
			<div id="left">
				<img src="images/logo.png" width="268px;" alt=""/>
			
			<div id='copy'>
			<div id='title'>
			<b>Send your past to your future present</b></div>
			<p>ThrowBack is an iPhone photography application that captures a photograph but does not save it to your phone. Instead the photo is thrown into the future and emailed back to you and those you share it with at a random time, anywhere from 1 month to 5 years from the date the photo was taken. </p>
			<p>In an era where our photographs are overexposed on countless sharing platforms, Throwback provides a unique opportunity to forget your memories so they can be remembered again.</p>
			<div id="social_container"><p><a href="https://itunes.apple.com/us/app/throwback/id551185859?mt=8"><img src="http://throwback-app.com/images/apple_big.png" width="200px" style="text-align: center;"/></a></p>
			<a href="https://twitter.com/ThrowBackApp"><img src="http://throwback-app.com/images/twitter_badge.png" width="50px;"/></a><a id="contact_me" href="mailto:support@throwback-app.com?subject=Hello ThrowBack"><img src="http://throwback-app.com/images/contact.png" width="125px;"/></a></div>
			</div>
			</div>
			
			<div id="press">
			
			<div style="text-align: center;">
			<ul>
			<li style="font-size: 18px;">Featured in:</li>
<li><a style="color: #606060;font-weight: normal;text-decoration: underline;word-wrap: break-word !important;" target="_blank" href="http://abcnews.go.com/blogs/technology/2013/03/throwback-acts-as-a-photo-time-capsule-app/">
<img align="none" width="100" height="38" style="width: 100px;height: 38px;border: 0;line-height: 100%;outline: none;text-decoration: none;" src="http://gallery.mailchimp.com/8ce65faaf7/images/abc_news_logo.png">
</a></li>
<li><a style="color: #606060;font-weight: normal;text-decoration: underline;word-wrap: break-word !important;" target="_blank" href="http://techcrunch.com/2013/03/20/throwback-is-an-app-that-steals-your-photos-and-sends-them-to-future-you/">
<img align="none" width="140" height="35" style="width: 140px;height: 35px;border: 0;line-height: 100%;outline: none;text-decoration: none;" src="http://gallery.mailchimp.com/8ce65faaf7/images/tc_techcrunch.png">
</a></li>
<li><a style="color: #606060;font-weight: normal;text-decoration: underline;word-wrap: break-word !important;" target="_blank" href="http://www.wired.com/rawfile/2013/03/calli-higgins-throwback/">
<img align="none" width="130" height="26" style="width: 130px;height: 26px;border: 0;line-height: 100%;outline: none;text-decoration: none;" src="http://gallery.mailchimp.com/8ce65faaf7/images/wired_logo.gif">
</a></li>
<li><a style="color: #606060;font-weight: normal;text-decoration: underline;word-wrap: break-word !important;" target="_blank" href="http://www.psfk.com/2013/03/future-photo-sharing-app.html">
<img align="none" width="30" height="30" style="width: 30px;height: 30px;border: 0;line-height: 100%;outline: none;text-decoration: none;" src="http://gallery.mailchimp.com/8ce65faaf7/images/psfkLogo.png">
</a></li>
<li><a style="color: #606060;font-weight: normal;text-decoration: underline;word-wrap: break-word !important;" target="_blank" href="http://laughingsquid.com/throwback-an-ios-app-for-sending-photos-to-your-future-self-friends-and-family">
<img align="none" width="30" height="30" style="width: 30px;height: 30px;border: 0;line-height: 100%;outline: none;text-decoration: none;" src="http://gallery.mailchimp.com/8ce65faaf7/images/laughing_squid_logo.jpg">
</a></li>

<li><a style="color: #606060;font-weight: normal;text-decoration: underline;word-wrap: break-word !important;" target="_blank" href="http://www.refinery29.com/summer-apps#page-4">
<img align="none" width="151" height="30" style="width: 151px;height: 30px;border: 0;line-height: 100%;outline: none;text-decoration: none;" src="http://blog.shoedazzle.com/wp-content/uploads/2013/05/refinery29-logo.jpg">
</a></li>

<li><a style="color: #606060;font-weight: normal;text-decoration: underline;word-wrap: break-word !important;" target="_blank" href="http://thecreatorsproject.vice.com/blog/nostalgia%E2%80%94well-theres-an-app-for-that-too">
<img align="none" width="60" height="60" style="width: 60px;height: 60px;border: 0;line-height: 100%;outline: none;text-decoration: none;" src="http://cdn.pastemagazine.com/www/articles/creators%20project.jpg?1274275933">
</a></li>


<li><a style="color: #606060;font-weight: normal;text-decoration: underline;word-wrap: break-word !important;" target="_blank" href="http://gizmodo.com/5992958/cheapair-french-girls-and-more#.UVdcX3b5ZiA.twitter">
<img align="none" width="60" height="60" style="width: 60px;height: 60px;border: 0;line-height: 100%;outline: none;text-decoration: none;" src="http://kinja.com/assets/images/logos/touchicons/gizmodo-touch-icon-200x200.png">
</a></li>


</ul>
<br>
</div>

		</div>
				<div id="right"></div>
		</div>
	</body>
</html>
