<html>
	<head>
	

<meta name="title" content="ThrowBack App" />
<meta name="description" content="Send your past to your future present" />
<link rel="shortcut icon" href="http://throwback-app.com/favicon.ico" />
<link rel="image_src" href="http://throwback-app.com/images/logo.png" /> 

		<title>ThrowBack</title>	
		<style type="text/css">
		 @font-face {
                    font-family: "Thirsty Script Light", Helvetica, Arial, sans-serif;
                    font-weight: normal;
                    font-style: normal;
                    src: url("images/ThirstyScript/ThirstyScriptLight.otf") format("opentype");
                }

			body{
				margin:0;
				padding:0;
				color: #003366;
				font-family: "Thirsty Script Light", Helvetica, Arial;
				background: #FFF;

			}
			#wrapper{
				width:865px;
				height:620px;
				
				margin:auto;
				padding-left:10px;
				padding-right:10px;
				margin-top:60px;
				position: relative;
				
			 	font-size: 1.1em;
				
			}
			#left{
				float: left;
				width:294px;
				height:620px;
				
			}
			#right{
				width:512px;
				height:599px;
				float: right;	
				background:url('images/screenshots.png') no-repeat right top;
			}
			p{
				font-family: Helvetica;
				margin-top:30;
			 	line-height:1.8em;
			 	margin-bottom:10px;
			}
			a{
				font-family: Helvetica;
				color: #183159;
				text-decoration: none;
			}
			#bottom-left{
				font-size: .7em;
				position: absolute;
				bottom:50px;
				left:15px;
				
			}
			#bottom-right{
				clear:both;
				font-size: .7em;
				position: absolute;
				bottom:50px;
				right:10px;
			}
			#copy{
				padding-left:2px;
			}
			
			#title{
			font-family:  "Thirsty Script Light", Helvetica, Arial;
			margin-right: 10px;
			margin-top: 20px;
			font-size: 18px;
			text-align: center;			
			}
			#contact_me{
			
				margin-left: 10px;
				
							}
			img{
				border:none;
			}
			#social_container{
			
			text-align: left;
			margin-left: 20px;			
			}
			
					
		</style>
			<script type="text/javascript">

		
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35188718-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


</script>	
	</head>
	<body> 
		<div id="wrapper">
			<div id="left">
				<img src="images/logo.png" alt=""/>
			
			<div id='copy'>
			<div id='title'>
			<b>Send your past to your future present</b></div>
			<p>ThrowBack is an iPhone photography application that captures a photograph but does not save it to your phone. Instead the photo is thrown into the future and emailed back to you and those you share it with at a random time, anywhere from 1 month to 5 years from the date the photo was taken. </p>
			<p>In an era where our photographs are overexposed on countless sharing platforms, Throwback provides a unique opportunity to forget your memories so they can be remembered again.</p>
			<div id="social_container"><p><a href="https://itunes.apple.com/us/app/throwback/id551185859?mt=8"><img src="http://throwback-app.com/images/apple_big.png" width="200spx" style="text-align: center;"/></a></p>
			<a href="https://twitter.com/ThrowBackApp"><img src="http://throwback-app.com/images/twitter_badge.png" width="50px;"/></a><a id="contact_me" href="mailto:support@throwback-app.com?subject=Hello ThrowBack"><img src="http://throwback-app.com/images/contact.png" width="125px;"/></a></div>
			</div>

		</div>
				<div id="right"></div>
		</div>
	</body>
</html>
