<!DOCTYPE html>
<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center feedback">Please create an account so you can receive Throwbacks you've been tagged in</div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center feedback">
<form action="/tag/newuser/<%= @tag.token%>" enctype="multipart/form-data" method="post">
<ul>
	<li>Email: <input type="email" name="email" value=<%= @tag.user.email%>></li>
	<li>Password: <input type="password" name="password" placeholder="Create a password"/></li>
	<li><input type="submit" value="Submit" /></li>
</ul>
</form>
</div>
</div>
</div>
