<h2>Create a new photo</h2>
<form action="/capsules" enctype="multipart/form-data" method="post">
<p>
<label>
Upload your image
</label>
	<input type="file" name="file"><br />
</p>
<label>
Ener your Email
</label>
	<input type="text" name="email">

<p>
<input type="submit" />
</p>
</form>