<container>

<h1>Hi! <%= @tag.capsule.user.email%> wants to tag you in a memento, but before you can start to receive mementos, we need you to make an account</h1>


</container>

<html>
<head>
<title>memento</title>
</head>
<body>
<div id="header">
	<h1>Welcome to memento</h1>
</div>
<div id="content">
<h2><%= @tag.capsule.user.email%> wants to tag you in a memento, but before you can start to receive mementos, we need you to make an account</h2>
<h3> A copy of this memento will be sent to you both in the future. </h3>
<form action="/tag/newuser/<%= @tag.token%>" enctype="multipart/form-data" method="post">
<ul>
<li>Email: <input type="email" name="email" value=<%= @tag.user.email%>></li>
<li>Choose a Password: <input type="password" name="password" /></li>
<input type="submit" value="Submit" />
</form>
</ul>
</div>
</body>
</html>
