<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center feedback">
	Enter a new password
</div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center feedback">
<form action="/users/reset_confirm/<%= @user.user_token%>" enctype="multipart/form-data" method="post">
<ul>
	<li><input type="password" name="password" placeholder="New password"/></li>
	<li><input type="submit" value="Submit" /></li>
</ul>
</form>
</div>
</div>
</div>

