
<html>
<head>
<title>Throwback</title>
</head>
<body>
<div id="header">
	<h1>Throwback tags</h1>
</div>
<div id="content">
<h2>You've been tagged in a Throwback with <%= @user.email %><br></h2>
<h3> A copy of this Throwback will be sent to you both in the future. </h3>
</div>
</body>
</html>
