<html>
<head>
<title>memento</title>
</head>
<body>
<div id="header">
	<h1>mememnto</h1>
</div>
<h2>You've been tagged in a menento!</h2>
<h3> A copy of <%= @tag.capsule.user.email %>'s memento will be sent to you at <%= @tag.user.email %> </h3>
</body>
</html>
