<html>
<head>
<title>memento</title>
</head>
<body>
<div id="header">
	<h1>You've been tagged in a memento</h1>
</div>
<h1> A copy of <%= @tag.capsule.user.email %>'s memento will be sent to you at <%= @tag.user.email %> 
</body>
</html>
