<html>
<head>
<title>memento</title>
</head>
<body>
<div id="header">
	<h1>memento tags</h1>
</div>
<div id="content">
<h2>You've been tagged in a memento with <%= @tag.capsule.user.email %></h2>
<h3> A copy of this memento will be sent to you both in the future. </h3>
</div>
</body>
</html>
