<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center feedback">
	You've been tagged in a Throwback with <%= @user.email %><br>
 A copy of this Throwback will be sent to you both in the future.
</div>
</div>
</div>
