
<div class="container">
<div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center feedback"> The email address <%= @user.email %> is <%= @user.confirmed ? "confirmed!" : "unconfirmed" %>. Welcome to Throwback! 
</div>
</div>
