@font-face {

  font-family: "Archer Book";

  src: url("http://memento-app.com/images/Archer/Archer-Book-Pro.otf") format("opentype");

  }

container {
border-style: none;
position: absolute;
width: 100%;
text-align: center;
top: 200px;
}

#logocontainer {
position: fixed;
width: 200px;
left: 30px;
top: 20px;


}

body{
font-family: "Archer Book", Helvetica, Verdana, Arial, sans-serif;

font-size: 18px;;

 background-color: #FFFFFF;

}

