@font-face {
                    font-family: "Thirsty Script Medium", Helvetica, Arial, sans-serif;
                    font-weight: normal;
                    font-style: normal;
                    src: url("http://throwback-app.com/images/ThirstyScript/ThirstyScriptMedium.otf") format("opentype");
                }

body { 
background: #FFF;
color: #003366;	/* Foreground color used for text */ 
font-family: "Thirsty Script Medium", Helvetica, Verdana, Arial, sans-serif;
font-size: 14px; 
margin: 0;	/* Amount of negative space around the outside of the body */ padding: 0;	/* Amount of negative space around the inside of the body */
}


#header h1  {
background-color: #003366;
color: #ffffff; 
display: block; 
font-size: 26px; 
font-weight: bold; 
padding: 10px 0; 
text-align: center; 
text-decoration: none;
}

#header h4  {
color: #222; 
display: block; 
font-size: 16px; 
font-weight: bold; 
text-align: center; 
text-decoration: none;
}

#content h2  {
color: #222; 
display: block; 
font-size: 20px; 
font-weight: bold; 
text-align: center; 
text-decoration: none;
margin-bottom: 5px
}

#content h3  {
 color: #222; 
display: block; 
font-size: 18px; 
font-weight: bold; 
text-align: center; 
text-decoration: none;
}

#content h4  {
border-bottom: 1px dotted #666; 
color: #222; 
display: block; 
font-size: 16px; 
font-weight: bold; 
text-align: center; 
text-decoration: none;
}

container {
border-style: none;
position: absolute;
width: 100%;
text-align: center;
top: 200px;
}

#logocontainer {
position: absolute;
width: 100%;
text-align: center;
top: 20px;
}

#header ul { 
  background: rgba(255,255,255,.4);
  border: 2px dotted #000;
  width: 70%;
  margin-left:auto;
  margin-right:auto;
  font: 18px "Thirsty Script Medium", Helvetica;
  color: black;
  -webkit-border-radius: 8px;
}

#header ul li {
    text-align: left:
    color: black;
    list-style-type: none;
   padding:5px 5px 5px 5px;
    margin-bottom: 10px;
}

#header ul li input[type="text"],
#header ul li input[type="password"],
#header ul li input[type="email"],
#header ul li textarea,
#header ul li select {
text-align: left;
    color: black;
    background: #fff;
    border: 0;
    font:22px Helvetica;
    padding: 5px;
    display: inline;
    margin-bottom: 5px;
    margin-left: -30px;
    width: 100%;
    -webkit-appearance: textarea;
}

#header input[type='submit'] {
    -webkit-border-radius: 4px;
    text-align: center;
    margin-left: auto;   
    margin-right: auto;   
    width: 8em;
    background: #003366;
    border: 2px solid #fffff;
    color: #FFF;
    display: block;
    font: normal 20px "Thirsty Script Medium", Helvetica;
  /*  padding: 10px;*/
}






#header ul li a {
background-color: #FFFFFF; 
border: 1px solid #003366; 
color: #003366; 
display: block;
font-size: 17px; 
font-weight: bold; 
margin-bottom: -1px; 
padding: 12px 10px; 
text-decoration: none;
}

#content, #sidebar {
padding: 10px;
}


