@font-face {

  font-family: "Archer Book";

  src: url("http://memento-app.com/images/Archer/Archer-Book-Pro.otf") format("opentype");

  }

body { 
background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ccffff))
color: #222;	/* Foreground color used for text */ 
font-family: "Archer Book", Helvetica, Verdana, Arial, sans-serif;
font-size: 14px; 
margin: 0;	/* Amount of negative space around the outside of the body */ padding: 0;	/* Amount of negative space around the inside of the body */
}


#header h1  {
background-image: -webkit-gradient(linear, left top, left bottom, from(#669999), to(#336666));border-bottom: 5px dotted #ccffff; 
color: #ffffff; 
display: block; 
font-size: 26px; 
font-weight: bold; 
padding: 10px 0; 
text-align: center; 
text-decoration: none;
}

#content h2  {
border-bottom: 1px dotted #666; 
color: #222; 
display: block; 
font-size: 20px; 
font-weight: bold; 
text-align: center; 
text-decoration: none;
}

#content h3  {
 color: #222; 
display: block; 
font-size: 18px; 
font-weight: bold; 
padding: 10px 0; 
text-align: center; 
text-decoration: none;
}

#content h4  {
border-bottom: 1px dotted #666; 
color: #222; 
display: block; 
font-size: 16px; 
font-weight: bold; 
text-align: center; 
text-decoration: none;
}

container {
border-style: none;
position: absolute;
width: 100%;
text-align: center;
top: 200px;
}

#logocontainer {
position: fixed;
width: 200px;
left: 30px;
top: 20px;


}

#content ul { 
  background-image: -webkit-radial-gradient(from(#ffffff), to(#ccffff))
  border: 2px dotted #000;
  font: 18px "Archer Book", Helvetica;
  color: white;
  padding: 10px;
  -webkit-border-radius: 8px;
}

#content ul li {
    color: white;
    border-top: 1px solid #000;
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
}

#content ul li select {
    color: #777;
    background: #fff;
    border: 0;
    font: normal 19px "Archer", Helvetica;
    padding: 5px;
    display: inline;
    margin-bottom: 5px;
    margin-left: 0px;
    width: 100%;
    -webkit-appearance: textarea;
}



#header ul li a {
background-color: #FFFFFF; 
border: 1px solid #999999; 
color: #222222; 
display: block;
font-size: 17px; 
font-weight: bold; 
margin-bottom: -1px; 
padding: 12px 10px; 
text-decoration: none;
}

#content, #sidebar {
padding: 10px;
}


