@font-face {

  font-family: "Archer Book";

  src: url("http://memento-app.com/images/Archer/Archer-Book-Pro.otf") format("opentype");

  }

body { 
background-color: #FFFFFF; /* Background color */ 
color: #222;	/* Foreground color used for text */ 
font-family: "Archer Book", Helvetica, Verdana, Arial, sans-serif;
font-size: 14px; 
margin: 0;	/* Amount of negative space around the outside of the body */ padding: 0;	/* Amount of negative space around the inside of the body */
}


#header h1  {
background-image: -webkit-gradient(linear, left top, left bottom, from(#669999), to(#336666));border-bottom: 5px dotted #ffff; 
color: #ffffff; 
display: block; 
font-size: 22px; 
font-weight: bold; 
padding: 10px 0; 
text-align: center; 
text-decoration: none;
}

#content h2  {
border-bottom: 1px dotted #666; 
color: #222; 
display: block; 
font-size: 20px; 
font-weight: bold; 
padding: 10px 0; 
text-align: center; 
text-decoration: none;
}

#content h3  {
 color: #222; 
display: block; 
font-size: 18px; 
font-weight: bold; 
padding: 10px 0; 
text-align: center; 
text-decoration: none;
}

container {
border-style: none;
position: absolute;
width: 100%;
text-align: center;
top: 200px;
}

#logocontainer {
position: fixed;
width: 200px;
left: 30px;
top: 20px;


}

#header ul { 
list-style: none; 
margin: 10px; 
padding: 0;
} 

#header ul li a {
background-color: #FFFFFF; 
border: 1px solid #999999; 
color: #222222; 
display: block;
font-size: 17px; 
font-weight: bold; 
margin-bottom: -1px; 
padding: 12px 10px; 
text-decoration: none;
}

#content, #sidebar {
padding: 10px;
}


